<!--Banner-->
<section ng-controller="AboutController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>About UKOF Bootcamp</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">About UKOF</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

ABOUT UKOF

“GET FIT AND HAVE FUN”

The UK Outdoor Fitness group is one of the top British boot camp and outdoor fitness providers in the UK  (UKOF) It is fresh and friendly company that provide high quality boot camp classes outdoors and indoors locations. We focus on getting you the results you want whilst making your exercise fun & enjoyable, with a huge camaraderie feeling when you join us.

We are Non Military Fitness (Military Fitness style) Bootcamp and Outdoor Fitness company fully licensed by Councils (Leeds City Council, Sheffield Council and York Council). This means you can rest assured that our instructors are suitably qualified,  fully insured & have met the health & safety criteria required to be licensed. The majority of bootcamps are not licensed, meaning they may not be insured & could and probably will be shut down by the council in the near future.

Our Instructors are all highly qualified & motivating. They will push you to work hard but not to the point where you won’t look forward to your next session.

We believe everybody should & can exercise, so we deliver sessions that are suitable for all levels of fitness. Depending on which class you are attending the class will either be split into beginners, intermediate & advanced (you choose which group to join) or the instructor will give level 1, 2 & 3 options for each exercise. Therefore beginners will not be asked to do anything they can’t do, and for you exercise enthusiasts you will always be challenged & worked hard.

So we provide the knowledge, motivation & enthusiasm. All you need to do is bring yourself, and the belief you can achieve, to our sessions.

Please see for yourself and check out our UKOF you tube channel https://www.youtube.com/user/ukoutdoorfitness?feature=mhee

Over the last few years UK Outdoor Fitness has specialised in taking large teams to Mud and Obstacle race courses (ORC). These including Spartan Race, Pain barrier, Total Warrior, Yorkshire Warrior and the Yorkshire Mud Run. Our classes whether you are wanting to compete a race or compete at a higher level, help you get in shape to tackle these popular races (ORC).

We are the reigning Team champions at Pain Barrier and Total Warrior!


</div>
