<!--Banner-->
<section ng-controller="ClassdescController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>OUTDOOR BOOTCAMP FITNESS CLASSES</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">About us</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->


  <!-- Athlete Class -->
  <section id="classes" class="classes">
    <div class="container">
      <div class="classes-athlete">
        <div class="classes-inner choose">
          <div class="classes-content">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="block-left">
                    <div class="about-title">
                      <h3>Why Choose UK Outdoor Fitness</h3>
                    </div>
                    <div class="about-desc">
                      <p>
                        UK Outdoor Fitness run both indoor and outdoor bootcamps (see class times and venues). These are tremendously varied sessions that include cardio and resistance exercises. (We pride ourselves on the fact that you never know what session is going to come next). A typical class will include various traditional cardio moves such as star jumps, squat thrusts, spotty dogs or burpees, as well as functional bodyweight exercises e.g squats, lunges, press ups, ab crunches, plank. We hold Bootcamps all over Yorkshire with locations from Leeds, Bradford, Castleford, Castleford, Sheffield and York with many more to come.
                      </p>
                      <p style="margin-bottom: 20px;">
                        We always ensure sessions are fun and varied, including team games, races, pair work, power walking, jogging and sprinting (depending on your fitness level), cardio and resistance exercises that will work all the major muscle groups – ensuring maximum calorie burning both during and after your work out.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="block-left">
                    <div class="about-img">
                      <img src="modules/core/client/img/about/bg-about-us.png" alt=""/>
                    </div>
                    <div class="about-desc-cont">
                      <p>
                        To keep you on your toes we add different types of fun exercise drills with some sessions that will include equipment such as boxing pads/gloves, Kettlebells, TRX, ViPR, speed ladders (don’t worry if you don’t know what these are) to add a new dimension and fun to your training.
                      </p>
                      <p>
                        Many of you may think “I’m not fit enough to do a bootcamp”. Well don’t worry as we cater for all fitness levels! You will not be asked to do anything you aren’t capable of. For example we recognise that many people struggle with running so we only ever run very short distances and you will always be given the option of power-walking instead.
                      </p>
                      <p>
                        Remember whatever your fitness level - absolute beginner to super fitness fanatic, we will push you to the next level to reach your goals.
                      </p>
                      <p>
                        <a href="/contact-us/">Contact us</a> with any questions you might have or go to <a href="/join-now/">Join Now</a> to get started!
                      </p>

                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="block-right">
                    <div class="block-right-info">
                      <div class="about-info">
                        <div class="icon-block">
                          <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="about-details">
                          <h4 class="about-details-title">Get Fit and Have Fun!</h4>
                          <p>
                          Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                          Cras sed enim quis nunc condimentum ullamcorper.
                          Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                          </p>
                        </div>
                      </div>
                      <div class="about-info">
                        <div class="icon-block">
                          <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="about-details">
                          <h4 class="about-details-title">Cost Effective</h4>
                          <p>
                          Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                          Cras sed enim quis nunc condimentum ullamcorper.
                          Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                          </p>
                        </div>
                      </div>
                      <div class="about-info">
                        <div class="icon-block">
                          <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="about-details">
                          <h4 class="about-details-title">Guaranteed Results</h4>
                          <p>
                          Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                          Cras sed enim quis nunc condimentum ullamcorper.
                          Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Athlete Class -->


</div>
