<!--Banner-->
<section ng-controller="ContactController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>Contact Us</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">Contact Us</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->


  <section id="our-team" class="our-team-page">
    <div class="our-team-head">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="headding">
              <div class="headding-title">
                <h4>Our Head Office</h4>
                <div class="headding-bottom"></div>
              </div>
              <ul class="headding-content">
                <li>
                  <div class="icon-headding">
                    <i class="fa fa-home"></i>
                  </div>
                  <div class="cont-headding">
                    <h5>UK Outdoor Fitness</h5>
                    <p>123 Street</p>
                  </div>
                </li>
                <li>
                  <div class="icon-headding">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="cont-headding">
                    <h5>Email</h5>
                    <a href="mailto:info@ukoutdoorfitness.com">info@ukoutdoorfitness.com</a>
                  </div>
                </li>
                <li>
                  <div class="icon-headding">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="cont-headding">
                    <h5>Telephone </h5>
                    <p><a href="tel:07964787981">07964787981</a></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="headding-title">
              <h4>We'd love to hear from you</h4>
              <div class="headding-bottom"></div>
            </div>
            <div class="headding-content">
              <p>Contact us! Thanks for your interest, please feel free to use the contact form to ask us any questions you might have. Contact us now for more information on the services we offer, any questions you might have, or if you’re a trainer looking to work for us! Your details will not be passed on to anyone else.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Our Team -->
  <!-- Contact Form -->
  <section class="contact-form">
    <div class="contact-submit">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="contact">
              <h4>Contact Form</h4>
              <div class="headding-bottom"></div>
              <form id="main-contact-form" class="main-contact-form row" name="contact-form" method="post">
                <div class="form-group col-md-12">
                  <input type="text" name="name" class="control" required="required" placeholder="Your Name">
                </div>
                <div class="form-group col-md-12">
                  <input type="email" name="email" class="control" required="required" placeholder="Your Email">
                </div>
                <div class="form-group col-md-12">
                  <textarea name="message" id="message" required="required" class="control" rows="8" placeholder="Your Message"></textarea>
                </div>
                <div class="form-group form-submit col-md-12">
                  <button type="submit" name="submit" class="btn-submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-map">
      <div id="map"></div>
    </div>
  </section>
  <!-- End Contact Form -->

</div>
