<!--Banner-->
<section ng-controller="PricesController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>FAQS</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">FAQs</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->


  <!--Asked-Questions-->
    <section class="ask-question">
      <div class="container">
        <div class="row">
          <div class="price-table-title col-md-12 col-sm-12 col-xs-12">
            <h2>Frequently Asked Questions</h2>
          </div>
          <div class="ask-question-main col-md-12">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: I am really unfit. Will I be able to cope with the class?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>Yes you will. We recognise that many people are starting at a relatively low fitness level & may not have exercised for some time. Therefore, when required, we will offer beginners, intermediate & advanced options for each exercise. You can choose which of these to do. You will not be asked to do anything you are not physically capable of doing.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: I really struggle with running. Will I get left behind?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>No you won’t. Unless you are in the advanced group running is restricted to very short distances, within a small area, and you can always take the option of powerwalking rather than running. You will find that your fitness improves quickly, so the chances are even if you struggle to run even a few metres, within a few weeks it will become a lot more manageable.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: Curabitur Vulputate, Ligula Lacinia?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>Being uncomfortable with ourselves makes us anxious and depressiver
                  and affects our life quality in genaral.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: Will I get big muscles?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>No. The training we do is designed to burn calories, reduce bodyfat & tone all of the major muscle groups, without building size. So you will become leaner & stronger, without looking like the hulk.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: Will you measure my progress?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>Yes - if you would like us to! We do a monthly bleep test which measures your cardiovascular fitness. This is optional.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: What shall I bring to the class?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>We strongly advise that you bring a water bottle. Your instructor will have a bag for all car keys & valuables so no need for own bag or pockets. That apart all you need to bring is a positive attitude & plenty of energy.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: When/what should I eat or drink before a class?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>One of the most common mistakes made is exercising on an empty stomach. This results in a lack of energy & burning of muscle instead of fat. Aim to eat something high in energy about an hour before the class. Fruit or cereals are ideal as they digest quickly. Also make sure you are hydrated. Just 5% dehydration can cause a 30-40% reduction in performance so aim to drink plenty of water not just during but before and after the class.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: What shall I wear?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>If you are participating outdoors please ensure you have clothing appropriate for the weather. If it is cold we advise gloves & a waterproof top if rain looks likely. We also advise you wear suitable trainers that you don’t mind getting dirty. Alternatively if it’s a really warm day ensure you have a vest or t-shirt to avoid overheating.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: Sports bras</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>It is imperative that you have the correct sports bra for you safety – we recommend that you that find the right one as not wearing one can affect your bodies health. We recommend Marks and Spencer.</p>
                  </div>
                </div>
              </div>
              <div class="ask-question-content">
                <div class="question">
                  <div class="question-content">
                    <p>Q: Feel embarrassed to ask a question?</p>
                  </div>
                </div>
                <div class="answer">
                  <div class="answer-content">
                  <p>Please don’t. You can ask any of our instructors in the strictest confidence. We will try and answer to the best of our knowledge. If we can’t we will find out or recommend someone who can help. Remember no matter what question you have, please ask. If you are female and would rather ask advice from a female instructor this is always available to you as well.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--End Asked-Questions-->




</div>
