<section ng-controller="EventLocationsController" ng-init="find()">
  <div class="page-header">
    <h1>Your EventLocations</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="eventEventLocation in eventEventLocations" ui-sref="eventEventLocations.view({eventEventLocationId: eventEventLocation._id})" class="list-group-item">
      <h2 class="list-group-item-heading" ng-bind="eventEventLocation.name"></h2>
      <img alt="{{ eventEventLocation.name }}" class="img-responsive text-center" src="{{ eventEventLocation.image }}" width="250" height="250" />
      <h4 class="list-group-item-text" ng-bind="eventEventLocation.role"></h4>
      <p class="list-group-item-text" ng-bind="eventEventLocation.bio"></p>
    </a>
  </div>
</section>
